@import "@fontsource-variable/roboto-flex/full.css";
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

body {
  background-color: #000;
  background-image: url(../assets/img/background.jpeg);
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
}

.bg-alert {
  background-image: url(../assets/img/alert-bg.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a[href]{
  @apply text-[#ff8f1e] underline underline-offset-2 cursor-pointer;
}
